<div class="section">
   <div class="container">
      <div class="title">
           <h1>About us</h1>
      </div>
      <div class="content">
       <div class="article">
            <h3>Budget Gadgets, is one of the India's best technology and digial lifestyle
               shopping portal. and providing a simulating online shopping experience!!It offers
               the latest range of gadgets and electronic products at most competitive prices.
               Gadgets in carrier overs 7,000 products and the list is constantly being revised.
            </h3>
            <p>BudgetGadget.in is an initiative by DSF Technology Consultants Pvt.Ltd.,which
               was founded in 2012 and is located in NewDelhi.DSF Technology Consultants pvt.
               Ltd.is a professionally managed organization backed by an able and experienced 
               management team that has working with E-Commerce!!
            </p>
            <div class="button"><a href="https://www.gadgets.in/about-us/#:~:text=Gadgets.in%2C%20is%20one%20of,list%20is%20constantly%20being%20revised">Read more</a>
            </div>
       </div>
      </div>
      <div class="image-section">
        <img src="https://cdn.pixabay.com/photo/2015/06/27/16/34/computer-823613__340.jpg">
      </div>
      <div class="social">
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/gadgets.360/?hl=en"><i class="fab fa-instagram"></i></a>
      </div>
   </div>
</div>
