<div class="body">
<div class="container">
    <div class="content">
        <div class="left-side">
            <div class="address details">
                <i class="fa fa-map-marker-alt"></i>
                <div class="topic">Address</div>
                <div class="text-one">No 1.7,2nd Street,west Mambalam,</div>
                <div class="text-two">Chennai-600033</div>
            </div>
            <div class="phone details">
                <i class="fa fa-phone-alt"></i>
                <div class="topic">Phone</div>
                <div class="text-one">+917666 345 765</div>
                <div class="text-two">+917358 957 987</div>
            </div>
            <div class="email details">
                <i class="fas fa-envelope"></i>
                <div class="topic">E-mail</div>
                <div class="text-one">budgetgadgets@gmail.com</div>
                <div class="text-two">info.gadgets@gmail.com</div>
            </div>
        </div>
        <div class="right-side">
              <div class="topic-text">Send us a message!!</div>
              <p>If you have any types of queries related to my products,<br>
                  you can send me message from here.Its my pleasure to help you!!</p>
        <form action="">
            <div class="input-box">
            <input type="text" placeholder="Enter your name">
            </div>
            <div class="input-box">
                <input type="text" placeholder="Enter your email">
                </div>
                <div class="input-box message-box">
                    <textarea></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Send Now">
                        </div>
        </form>
        </div>
    </div>
</div>
</div>