<section>
    <div id="container">
      <div id="inner-box">
        <h1 id="sign">SIGN UP!!</h1>
        <div id="card">
     <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
         <div formGroupName="userData">
      <div class="form-group">
        <h4>First Name:</h4>
          <input type="text" id="firstname" class="form-control" formControlName="firstname" placeholder="Enter your first Name">
         <span *ngIf ="!signupForm.get('userData.firstname').valid && signupForm.get('userData.firstname').touched">
              please enter valid name!!
         </span>
        </div>
      <div class="form-group">
        <h4>Last Name:</h4>

        <input type="text" id="lastname" class="form-control" formControlName="lastname" placeholder="Enter your last Name">
        <span *ngIf ="!signupForm.get('userData.lastname').valid && signupForm.get('userData.lastname').touched">
            please enter valid name!!
       </span>
      </div>
      <div class="form-group">
        <h4>Enter E-Mail:</h4>
        <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter your email">
        <span *ngIf ="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">
            please enter valid email!!
       </span>
      </div>
      <div class="form-group">
        <h4>Enter password:</h4>
        <input type="text" id="password" class="form-control" formControlName="password" placeholder="Enter your password">
        <span *ngIf ="!signupForm.get('userData.password').valid && signupForm.get('userData.password').touched">
            please enter valid password!!
       </span>
      </div>
      <div class="form-group">
        <h4>Enter phonenumber:</h4>
        <input type="text" id="phonenumber"  class="form-control" formControlName="phonenumber" placeholder="Enter your phonenumber">
        <span *ngIf ="!signupForm.get('userData.phonenumber').valid && signupForm.get('userData.phonenumber').touched">
            please enter valid phonenumber!!
       </span>
      </div>
      <div class="form-group">
        <h4>Enter Adress:</h4>
        <input type="text" id="address" class="form-control" formControlName="address" placeholder="address"><br><br><br>
      </div>
     <div>
       <button type="submit" id="sub-btn" routerLink="/home">Sign up</button><br>
    </div>
    </div>
     </form>
     </div>
     </div>
    </div>
</section>